@charset "utf-8";
/* CSS Document */

body,div,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form {margin:0;padding:0}
body {font:normal dotum,"돋움";}
ul,ol,dl {list-style:none}
img {border:0;vertical-align:top;}
form, fieldset, input, textarea, select{margin:0;padding:0;}

label, select, input, textarea {vertical-align:middle;	}
fieldset {border:none;}

#title {height:60px; width : 100%; }
#title h1 {float:left;}

#mainmenu {height:40px;font-size:0.75em;width:100%; background:#63696b; }
.nav {background:#63696b;height:40px; position:relative;width:967px;margin:0 auto;}
.nav li {float:left;}
.nav > li > a {display:block;line-height:40px;text-decoration:none;color:#fff;font-weight:bold;text-align:center;padding:0 26px;}
.nav > li:hover > a.mm {background:#ef3c84;}
.nav > li:hover .sub {display:block;}
.nav > li:hover > a {background:#4a96de;color:#fff;}
.nav .sub {position:absolute; left:0; top:40px; display:none;}
.nav .sub li a {display:block; height:40px; line-height:40px; padding:0 5px;text-decoration:none;color:#400040;}
.nav .sub li a:hover {color:red;}

.nav .sub2 li:first-child {margin-left:30px;}
.nav .sub3 li:first-child {margin-left:70px;}
.nav .sub4 li:first-child {margin-left:100px;}
.nav .sub5 li:first-child {margin-left:130px;}

#mainmenu_sub {height:30px; widht:100%; background:#b347e0;}